// SOCIAL ICONS

.social {
  margin: 0;
  padding: 0;
  display: inline-block;

  & {
    margin-right: 10px;
  }
  * {
    vertical-align: middle;
  }

  a {
    color: $gray-500;
    text-decoration: none;
    &:hover {
      color: $gray-900;
      .ion {
        color: theme-color("primary");
        background: $white;
        transform: translate(0, -1px);
        box-shadow: 0 3px 6px rgba(0, 0, 0, .1);
      }
    }
  }

  .ion {
    font-size: 23px;
    color: $white;
    width: 40px;
    height: 40px;
    line-height: 39px;
    border-radius: 50%;
    background: theme-color("primary");
    border: 1px solid theme-color("primary");
    text-align: center;
    margin: 0;
    @include transition($transition-base);
  }
  span {
    display: none;
    font-size: .85rem;
  }
}
