.footer {
  z-index: 0;
  width: 100%;
  visibility: hidden;
  bottom: 0;
  position: fixed;
  background: $gray-900 url(../images/footer2.jpg) no-repeat bottom;
  background-size: cover;
  color: $gray-500;
  font-size: .95rem;
  font-weight: 600;
  padding-top: 16rem;
  padding-bottom: 4rem;

  @include media-breakpoint-up(sm) {
    padding-bottom: 5rem;
  }

  &.visible {
    z-index: 500;
    visibility: visible;
  }

  a {
    color: $white;
    opacity: .5;

    &:hover {
      opacity: 1;
    }
  }

  &__social {
    padding: 0;
    margin: 0;
    list-style: none;

    @include media-breakpoint-up(sm) {
      float: right;
      margin-top: -3rem;
    }

    li {
      display: inline-block;
      padding: 0;
      margin: 0;

      + li {
        margin-left: 10px;
      }
    }

    a {
      color: $black;
      @include transition($transition-base);

      &:hover {
        opacity: 1;
      }
    }

    span {
      display: none;
    }

    .ion {
      font-size: 23px;
      width: 40px;
      height: 40px;
      line-height: 39px;
      border-radius: 50%;
      background: $gray-500;
      border: 0 none;
      margin: 0;
    }
  }

  &__contact {
    width: 100%;
    clear:both;
    text-align: center;
  }

  &__copyright {
    margin-top: .5rem;
    width: 100%;
    text-align: center;
  }

  &__menu {
    width: 100%;
    text-align: center;

    ul {
      margin: 0;
      padding: 0;
    }

    li {
      margin: 0;
      padding: 0;
      display: inline;

      + li {
        margin-left: .5rem;

        @include media-breakpoint-up(sm) {
          margin-left: 2rem;
        }
      }
    }
  }

  .container {
    text-align: center;
  }
}
