// HERO
// ------------------------------------------
.hero {
  position: fixed;
  width: 120%;
  padding: 0 10%;
  box-sizing: border-box;
  left: -10%;
  height: 500px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin-top: -50px;
  overflow: hidden;
  color: $white;
  background: $white;

  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: .15;

    div {
      width: 100%;
      height: 100%;
      background: $white url(../images/hero3.jpg) no-repeat right 20%;
      background-size: 65% auto;
    }
  }

  &__wrapper {
    @extend .container;
    text-align: left;
    position: relative;
    z-index: 200;
  }

  &__caption {
    opacity: .9;
    font-size: calc(1rem + 3.2vw);
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    font-weight: 700;
    line-height: .95em;
    letter-spacing: .03em;
    color: $black;
    margin-top: 45px;
    //text-align: center;
    text-transform: uppercase;


    &-home {
      font-size: calc(1.3rem + 4.2vw);
      text-align: left;
      position: relative;
      margin-top: 105px;

      &:after {
        content: '';
        background: $black;
        opacity: .85;
        position: absolute;
        left: 0;
        bottom: -25px;
        width: 8rem;
        height: 1px;
        z-index: 1;
      }
    }
  }

  &__intro {
    font-family: $font-family-sans-serif;
    font-size: calc(.8rem + .4vw);
    font-weight: 600;
    margin-top: 50px;
    line-height: 1.4em;
    letter-spacing: 1px;
    text-align: left;
    width: 86%;
    color: $dark;
    opacity: .9;

    @include media-breakpoint-up(sm) {
      width: 60%;
    }

    @include media-breakpoint-up(lg) {
      width: 40%;
    }
  }

  p {
    max-width: 70%;
    margin-top: 1em;
    text-align: center;
  }

  &__scroll {
    position: absolute;
    width: 20px;
    opacity: .5;
    bottom: -130px;
    @include media-breakpoint-down(sm) {
      display: none;
    }

    path {
      fill: #000;

      .evening &,
      .night & {
        fill: $white;
      }

    }
  }
}
