// About Widget

.side-about {
  .side-about__photo {
    border-radius: 50%;
    width: 110px;
    float: left;
    margin-right: 20px;
    border: 5px solid rgba(0,0,0,.1);
  }

  h3 {
    color: $gray-500;
    font-size: 1.2rem;
    font-weight: 400;
    padding-top: 9px;
    margin-bottom: 5px;

    //@include clearfix;

    //span {
    //  color: $gray-400;
    //  font-size: 1rem;
    //  display: block;
    //}
  }

  p {
    line-height: 1.2;
    font-size: 1rem;

  }
}

.side-form {
  margin-top: 3rem;
}
