// About Widget

.side-about {
  .elementor-image-box-img {
    border-radius: 50%;
    border: 5px solid rgba(0,0,0,.1);
    overflow: hidden;
  }

  h3 {
    color: $gray-500;
    font-weight: 400;
    padding-top: 9px;

    //@include clearfix;

    //span {
    //  color: $gray-400;
    //  font-size: 1rem;
    //  display: block;
    //}
  }

  p {
    line-height: 1.2;
    font-size: 1rem;

  }
}

.side-form {
  margin-top: 3rem;
}
